# Question 21

In [6]:
import math

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, point1, point2):
        self.point1 = point1
        self.point2 = point2
    
    def length(self):
        return math.sqrt((self.point2.x - self.point1.x)**2 + (self.point2.y - self.point1.y)**2)
    
    def slope(self):
        if self.point2.x == self.point1.x:
            return None  
        else:
            return (self.point2.x - self.point1.x)/(self.point2.y - self.point1.y)

point1 = Point(3,4)
point2 = Point(0,0)
segment = Segment(point1, point2)

print("Length of the segment:", segment.length())
print("Slope of the segment:", segment.slope())

Length of the segment: 5.0
Slope of the segment: 0.75

# Question 22

In [11]:
import sqlite3

conn = sqlite3.connect(':memory:')
cur = conn.cursor()

cur.execute('''
    CREATE TABLE Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cur.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', data)

conn.commit()

cur.execute('SELECT * FROM Weather')
rows = cur.fetchall()
for row in rows:
    print(row)

conn.close()

(1, '2015-01-01', 10)
(2, '2015-01-02', 25)
(3, '2015-01-03', 20)
(4, '2015-01-04', 30)

In [13]:
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

cur.execute('''
    CREATE TABLE Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cur.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', data)
conn.commit()

sql_query = '''
    SELECT w.id
    FROM Weather w
    WHERE EXISTS (
        SELECT 1
        FROM Weather w2
        WHERE w2.recordDate = date(w.recordDate, '-1 day')
          AND w.temperature > w2.temperature
    )
'''

cur.execute(sql_query)
rows = cur.fetchall()


print("IDs with higher temperatures compared to previous dates:")
for row in rows:
    print(row[0])

conn.close()

IDs with higher temperatures compared to previous dates:
2
4

# Question 23

In [19]:
def tough(indent, star):
    if star > 0:
        tough(indent, star // 2)
        print(" " * indent + "*" * star)
        tough(indent + star // 2, star // 2)

def test_function():
    test_cases = [0, 1, 2, 4]
    
    for star in test_cases:
        print(f"f(0,{star})")
        tough(0, star)
        print()

test_function()

f(0,0)

f(0,1)
*

f(0,2)
*
**
 *

f(0,4)
*
**
 *
****
  *
  **
   *